#creativeBG {
    height: 300px;
}

#clicktag {
    width: 100%;
    height: 100%;
    z-index: 10 !important;
    cursor: pointer;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    display: none;
    right: 0;
}
#bannerWrapper * {
    padding: 0;
    margin: 0;
    position: absolute
}

#bannerWrapper {
    background: url(http://creative.sebpo.com/accuweather/2020/AW_Site_Update/Hero_Anim/v1/images/bg_desktop.jpg) no-repeat;
    width: 100%;
    height: 300px;
    position: absolute;
    background-size: cover;
    overflow: hidden;
    user-select: none;
    margin-top: -24px;
}

#bannerContent {
    width: 960px;
    height: 300px;
    top: 0;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-480px)
}

.is-loaded * {
    animation-play-state: running !important
}

.logo {
    top: 20px
}

.copy1 {
    top: 95px;
    -webkit-animation: copyAnimFromTop .5s .5s both;
    animation: copyAnimFromTop .5s .5s both
}

.copy2 {
    top: 200px;
    left: 12px;
    -webkit-animation: copyAnimFromTop .5s 1s both;
    animation: copyAnimFromTop .5s 1s both
}

.ctaBtn {
    top: 245px;
    left: 15px;
    background-color: #f4793e;
    width: 180px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #fff;
    display: block;
    overflow: hidden;
    -webkit-animation: ctaBtnAnim .5s 1.5s both;
    animation: ctaBtnAnim .5s 1.5s both;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.ctaBtn:hover {
    background-color: #609716;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.ctaBtn .ctaCopy {
    top: 0;
    left: 50%;
    transform: translate(-64px, 10px)
}

.ctaBtn .ctaGlow {
    top: -2px;
    left: -50px;
    -webkit-animation: ctaGlowAnim 2s 2.5s both;
    animation: ctaGlowAnim 2s 2.5s both
}

.banner-item {
    margin-top: 24px;
}
div#primoFC {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
    margin-top: -24px;
    cursor: pointer;
}

.videoPlaceholder {
    width: 400px;
    height: 235px;
    top: 32px;
    right: 50%;
    transform: translateX(480px);    
    position: absolute;
    z-index: 1;
}
.videoPlaceholder * {
    position: absolute;
    margin: 0;
    padding: 0;
}
.videoPlaceholder video {
    border: 10px solid #ebebeb
}

.videoPlaceholder .playBtn {    
    width: 100%;
    height: 100%;
    z-index: 100 !important;
    cursor: pointer;
    opacity: 0.7;
}
.videoPlaceholder .playBtn img {
    max-width: 81px;
    left: 0;
    margin: 0 auto !important;
    right: 0;
    top: 30%;
}


@-webkit-keyframes copyAnimFromTop {
    from {
        transform: translateY(-30px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes copyAnimFromTop {
    from {
        transform: translateY(-30px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes ctaGlowAnim {
    from {
        transform: translateX(-60px)
    }

    to {
        transform: translateX(320px)
    }
}

@keyframes ctaGlowAnim {
    from {
        transform: translateX(-60px)
    }

    to {
        transform: translateX(320px)
    }
}

@-webkit-keyframes ctaBtnAnim {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes ctaBtnAnim {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 979px) and (min-width: 768px) {
    #bannerContent {
        width: 96%;
        transform: translateX(-50%)
    }

    .copy1,
    .copy2 {
        width: 50%
    }

    .videoPlaceholder {
        width: 350px;
        height: 205px;
        top: 43px
    }

    .videoPlaceholder video {
        width: 350px
    }
}

@media(max-width:768px) {
    .videoPlaceholder {
        display: none
    }
    div#primoFC {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    #creativeBG {
        height: 250px;
    }
    div#primoFC {
        height: 250px;
        margin-bottom: 10px;
    }
    #bannerWrapper {
        background: url(http://creative.sebpo.com/accuweather/2020/AW_Site_Update/Hero_Anim/v1/images/bg_mobile.jpg) no-repeat;
        height: 250px
    }

    #bannerContent {
        width: 100vw;
        height: 250px;
        transform: translateX(0);
        left: 10px
    }

    .copy1,
    .copy2 {
        width: 70%
    }

    .copy2 {
        top: 166px;
        left: 10px
    }

    .ctaBtn {
        top: 195px;
        left: 10px
    }

    .videoPlaceholder {
        display: none
    }
}

@media only screen and (max-width: 767px) and (min-width: 421px) {
    #bannerWrapper {
        background-size: cover;
    }

    .copy1,
    .copy2 {
        width: 44%
    }
}