body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.content {
    padding: 50px;
    height: 900px;
    border: 1px solid #222;
    background-color: rgb(198, 227, 247);
}

.bannerContainer {
    border: 1px solid #222;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.bannerContainer div {
    position: absolute;
    padding: 0;
    margin: 0;

}
.adBg {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ctaBtn {
    padding: 5px 7px;
    font-size: 14px;
    color: white;
    background-color: #222;
    border-radius: 4px;
    border:1px solid #ccc
}

/* .bannerContainer .logo {
    opacity: 0;
} */

.bannerContainer .copy1 {
    color: white;
    font-size: 32px;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    scale: 0.5;
}

.bannerContainer .copy2 {
    color: white;
    font-size: 32px;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    scale: 0.5;
}

.bannerContainer .video {
    top: 25%;
    left: 7.2%;
}

.bannerContainer .rotateContainer {
    bottom: 0;
    top: unset;
    width: 100%;
    display: flex;
}
.bannerContainer .rotateLine {
    height: 20px;
    width: 100%;
    background-color: skyblue;
    position: absolute;
    bottom: 0;
    top:u nset;
}

.bannerContainer .playIcon {
    position: absolute;
    top: 26%;
    left: 37%;
    cursor: pointer;
    z-index: 10;
}
.bannerContainer .products  {
    top: 405px !important;
    width: 100%;
}
.bannerContainer .products img {
    position: absolute;
    left: 0;
    top: 0;
}

.bannerContainer .products .product1 {
    top:20px;
    left: 0;
}
.bannerContainer .products .product2 {
    left:90px;
}
.bannerContainer .products .product3 {
    right: 0;
    left: unset;
}


.bannerContainer .ballContainer {
    top: 665px !important;
    width: 100%;
}

